.container{
    text-align: center;
    border: 1px solid black;
    width: 50% ;
    height: 100vh;
    margin: 0% 15% 15% 16%;
}
.text{
    margin: 5px;
}
.btn{
    margin: 5px;
}
button{
    width: 10%;
    height: 10vh;
    border-radius: 10%;
    font-size: larger;
    background-color: aqua;
}
input{
    width: 40%;
    height: 10vh;
    border-radius: 6%;
    font-size: larger;
    background-color: gray;
}